[workspace]
resolver = "2"
members = [
    "crates/tree-doc-core",
    "crates/tree-doc-cli",
    "crates/tree-doc-wasm",
]

[workspace.package]
edition = "2021"
rust-version = "1.83"
license = "MIT"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = "symbols"
